<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href='/static/style.css' />
  <title>Final Result of Profit Prediction</title>
  </head>

  <body>
    <div style="text-align:center">
      <a href="https://github.com/kaoutharmsafri/flask_ml_model.git"><img src="/static/github.png" alt="Logo de l'entreprise" style="float:left; margin-right:10px;width: 30px;    height: 30px;
      "></a>
    <h1><div style="text-align:center"><font color=#765836>Prediction Result</font></div></h1>
  </div> 
    <hr color=#765836>
    <div class="card text-center" style="width:21.5em;margin:0 auto;">
      <div class="card-body">
        <p class="card text"><center><h1>${{prediction}}</h1></center></p>
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>
  </body>
  <footer>
    <div class="footer-images">
      <img src="/static/logo_fsjes.png" alt="image1">
      <img src="/static/logo.PNG" alt="image2">
      <img src="/static/logo_uae.png" alt="image3">
    </div>
  </footer>
</html>